<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="{% url 'sender:home'  %}" class="nav-link active" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#home"/>
            </svg>
            Главная
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#speedometer2"/>
            </svg>
            Сообщения
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#table"/>
            </svg>
            Получатели
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#grid"/>
            </svg>
            Рассылки
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#people-circle"/>
            </svg>
            Статистика
        </a>
    </li>
</ul>