<div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false">
        {% if user.is_authenticated and user.avatar %}
        <img src="{{ user.avatar.url }}" alt="User Avatar" width="42" height="42" class="rounded-circle me-2 mt-2 user-avatar">
        <strong>Пользователь</strong>
        {% else %}

        <img src="https://github.com/mdo.png" alt="" width="42" height="42" class="rounded-circle me-2 mt-2 ">
        <strong>Пользователь</strong>
        {% endif %}
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        {% if user.is_authenticated %}
        <li><a class="dropdown-item " href="{% url 'users:profile' user.pk %}">Мой профиль</a></li>

        <li>
            <form method="post" action="{% url 'users:logout'  %}" style="display:inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link dropdown-item p-3">Выйти</button>
            </form>
            <!-- <a class="dropdown-item" href="#">Выйти</a> -->
        </li>
        {% if is_manager %}
            <li><a class="dropdown-item p-3" href="{% url 'users:users' %}">Все пользователи</a></li>
        {% endif %}

        {% else %}
        <li><a class="dropdown-item p-3" href="{% url 'users:login' %}">Войти</a></li>
        <li><a class="dropdown-item p-3" href="{% url 'users:register' %}">Регистрация</a></li>
        {% endif %}


    </ul>
</div>

