{% extends 'sender/base.html' %}

{% block page_title %}Сообщение-удаление{% endblock %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-5">
            <div class="card w-45 mt-5 mb-3" style="width: 20rem; background-color: rgba(0,0,0,0.2);">
                <div class="card-body">
                    <h3 class="mb-4">Сообщение :</h1>
                    <p>Тема: {{ message.subject }}</p>
                    <p>Текст: {{ message.text|truncatechars:100}}</p>
                    <p class="fw-bolder">Вы действительно хотите удалить это cообщение?</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                        <a href="{% url 'sender:messages_list' %}">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}