{% extends 'sender/base.html' %}

{% block page_title %}Сообщение подробно{% endblock %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-6">
            <div class="card w-45 mt-5 mb-3" style="width: 40rem; background-color: rgba(0,0,0,0.2);">
                <div class="card-body">
                    <h3 class="mb-4">Сообщение :</h3>
                    <p>Тема: {{ message.subject }}</p>
                    <p>Текст: {{ message.text }}</p>
                    <p>Создано: {{ message.created_at }}</p>
                    <p>Обновлено: {{ message.updated_at }}</p>
                    <a href="{% url 'sender:messages_list' %}" class="btn btn-secondary">Назад к списку</a>
                    <a href="{% url 'sender:message_update' message.pk %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'sender:message_delete' message.pk %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}