{% extends 'sender/base.html' %}

{% block page_title %}Главная{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="mb-4">Попытки отправки сообщений:</h1>
    <ul class="list-group">
        {% for attempt in attempts %}
            <li class="list-group-item">
                <p>Время отправки: {{ attempt.try_at | date:"d.m.y h:m"}}</p>
                <p>Статус: {{ attempt.status }}</p>
                <P>Ответ сервера: {{ attempt.response }}</P>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}